<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1"/>
        <title>Insert title here</title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <header id="header">
            <div class="header-first">
            </div>
            <div class="pic">
            </div>
            <div class="header-second">
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "#">Dodaj/izmeni</a> 
                    </div>
                    <div class="dropdown-content">
                        <a class="klik_pregled" href="/admin/noviKorisnik">Novi korisnik</a>
                        <a class="klik_pregled" href="/admin/noviUcenik">Novi ucenik</a>
                        <a class="klik_pregled" href="/admin/novoOdeljenje">Novo odeljenje</a>
                        <a class="klik_pregled" href="/admin/noviPredmet">Novi predmet</a>
                        <a class="klik_pregled" href=" /admin/noviRaspored">Novi raspored</a>
                        <a class="klik_pregled" href="/admin/obavestenja">Novo obavestenje</a>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "#">Pregled</a>
                    </div>
                    <div class="dropdown-content">
                        <a class="klik_pregled" href="/admin/sviKorisnici">Pregled korisnika</a>
                        <a class="klik_pregled" href="/admin/sviRoditelji">Pregled roditelja</a>
                        <a class="klik_pregled" href="/admin/sviUcitelji">Pregled ucitelja</a>
                        <a class="klik_pregled" href="/admin/sviUcenici">Pregled ucenika</a>
                        <a class="klik_pregled" href="/admin/svaOdeljenja">Pregled odeljenja</a>
                        <a class="klik_pregled" href="/admin/sviPredmeti">Pregled predmeta</a>
                        <a class="klik_pregled" href="/admin/listaOdeljenjaZaOdabirRasporeda">Pregled rasporeda</a>
                        <a class="klik_pregled" href="/admin/listaObavestenja">Pregled obavestenja</a>
                    </div>
                </div> 
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "/">Logout</a>
                    </div>
                </div> 
            </div>
        </header>
        <div class="bodi">
            <div class="tabela_pregled">
               
                 <table border="1" cellpadding="10">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Naziv</th>
                               
                                <th>Usluga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tempOdeljenja : ${odeljenje}">
                                <td th:text="${tempOdeljenja.id_odeljenje}">ID</td>
                                <td th:text="${tempOdeljenja.naziv}">Naziv</td>
                                
                                <td class="usluga">
                                    <a th:href="@{'/admin/rasporedZaOdeljenje/' + ${tempOdeljenja.id_odeljenje}}">Raspored</a>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
               
            </div>  
        </div>
        <footer id="footer">
            <h1>Ovo je futer</h1>
        </footer>
    </body>
</html>