<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <header id="header">
                <div class="header-first">
                </div>
                <div class="pic">
                </div>
                <div class="header-second">
                    <a class="klik" href="/ucitelj/listaUcenikaZaOdabirOcena">Dnevnik</a>
                    <a class="klik" href="/ucitelj/obavestenja">Obavestenja</a>
                    <a class="klik" href="/ucitelj/zakazivanje">Zakazivanje</a>
                    <a class="klik" href="/ucitelj/poruke">Poruke</a>
                    <a class="klik" href="/ucitelj/rasporedZaOdeljenje">raspored</a>
                    
                    <a class="klik" href="/">Logout</a>
                </div>
        </header>
        <div class="bodi">
            <div><table border="1" cellpadding="10">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ime</th>
                                <th>Prezime</th>
                                <th>Usluga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tempUcenici : ${ucenici}">
                                <td th:text="${tempUcenici.id_ucenik}">ID</td>
                                <td th:text="${tempUcenici.ime}">Naziv</td>
                                <td th:text="${tempUcenici.prezime}"></td>
                                <td class="usluga">
                                    <a th:href="@{'/ucitelj/oceneZaUcenika/' + ${tempUcenici.id_ucenik}}">Ocene</a>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table></div>
            <a href="/ucitelj/ocene">Unos Ocena</a>
        </div>
        <footer id="footer">
            <h1>Ovo je futer</h1>
        </footer>
    </body>
</html>
